@import "../../assets/styles/variables";

.input {
  color: $borderColor;
  padding-left: 18px;
  border-radius: 4.01px;
  border: solid 1px $borderColor;
  width: 100%;
  height: 52px;
}

.inputError {
  color: gray;
  padding-left: 18px;
  border-radius: 4.01px;
  width: 100%;
  height: 52px;
  border: solid 1px $borderColor;
  border: solid 1px $secondaryColor !important;
}

.btnSubmit {
  margin-top: 25;
  border-radius: 20;
  font-size: 12;
  background-color: $secondaryColor !important;
  color: black;
  font-weight: bold;
  height: 40;
  width: 70%;
}

.progress {
  width: 20;
  height: 20;
  color: black;
}

.message__error {
  font-size: 12px;
  margin-top: 9px;
  color: $secondaryColor;
}

.select {
  border: solid 0px $borderColor;
  font-size: 12px !important;
  height: 57px;
  color: gray !important;
}

.selectError {
  border: 1px solid $secondaryColor;
}

.icon {
  color: $secondaryColor;
}


@media (max-width: 600px) {
  .btnSubmit {
    width: 100%;
  }
}